/* Tree view-ийн текстийг доош нь урсгах */
.o_list_renderer .o_list_table {
    table-layout: auto !important;
}

.o_list_renderer th,
.o_list_renderer td {
    white-space: normal !important; /* nowrap-ийг болиулна */
    word-break: break-word !important;
    vertical-align: middle !important;
    text-overflow: initial !important;
}

.o_list_renderer thead th {
    min-width: 100px; /* Баганууд хэт шахагдахаас сэргийлнэ */
}